<div class="container">
  <div class="center">
     <h1>{{poll.name}}</h1>
  </div>
  <form ng-repeat="opt in poll.options" >
     <div class="input-group">
         <div class="input-group-addon">
             
         
          <label >
            <input type="radio" ng-model="$parent.chosenOption" 
                ng-value="opt.index" ng-click="$parent.recordVote(opt.index)" 
                name="{{opt.option}}">
                {{opt.option}}
          </label><br/>
        </div>
     </div>  
  </form>
  <div ng-show="isShowNewOption">
      <input type="text" class="form-control" placeholder="Type Poll Option Here" ng-model="newOption">
      <button type="submit" class="btn btn-primary" ng-click="updateOptions()">Add Another Option</button>
  </div>
  <div class="center" ng-show="isOwned">
      <button type="submit" class="btn btn-warning" ng-click="toggleOption()">Add Another Option</button>
  </div>
  <br/>
  <div class="center">
     <h4>Invite someone to this poll by sending them this link: {{url}}</h4>
  </div>
</div>
