<div class="container">
  <div class="center">
     <h1>{{name}}</h1>
  </div>
  <form ng-repeat="opt in options" >
     <div class="input-group">
         <div class="input-group-addon">
             
         
          <label >
            <input type="radio" ng-model="$parent.chosenOption" 
                ng-value="opt.index" ng-click="$parent.recordVote(opt.index)" 
                name="{{opt.option}}">
                {{opt.option}}
          </label><br/>
        </div>
     </div>  
  </form>
  <h5>{{chosenOption}}</h5>
</div>
